appdirs==1.4.4
asgiref==3.2.10
cfgv==3.2.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1
django-environ==0.4.5
filelock==3.0.12
gunicorn==20.0.4
identify==1.4.25
nodeenv==1.4.0
pre-commit==2.6.0
psycopg2-binary==2.8.5
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
virtualenv==20.0.30
whitenoise==5.2.0
