@import url("https://fonts.googleapis.com/css?family=Roboto");
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
#logo {
  height: 2.8rem;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
* {
  margin: 0;
  padding: 0;
}
/* Navbar */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.top-navbar {
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.top-navbar a {
  color: #ffffff;
  margin: 0.3rem 0.8rem;
}

.top-navbar a span {
  position: relative;
  padding-bottom: 0.33rem;
  font-size: 1rem;
}

.top-navbar a span::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #ffffff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s;
}

.top-navbar a:hover>span::before {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  
}

.top-navbar .non_active:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}

.top-navbar button {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  padding: 0px 12px;
  color: #ffffff;
  border: none;
  -webkit-tap-highlight-color: transparent;
}


.top-navbar button:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .top-navbar button {
      display: inline-block;
  }
}

.top-navbar .nav-items {
  display: flex;
  align-items: center;
}

.top-navbar .nav-items a {
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  .top-navbar .nav-items {
      display: none;
  }

  .top-navbar .nav-items a {
      font-size: 1.2rem;
  }
}

.top-navbar .open-menu {
  z-index: 10;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  right: 0px;
   top: 4rem;
  background-color: #020202;
  box-sizing: border-box;
}

.top-navbar .open-menu a {
  margin: 0px;
  padding: 14px 0px;
  width: 100%;
  text-align: center;
  border-bottom: #ffffff40 solid 1px;
}

.top-navbar .open-menu a:hover {
  background-color: #ffffff10;
}

#is_active {
  margin-top: 0.5rem;
  padding-bottom: 0.17rem;
  font-size: 1.1rem;
  border-bottom: 2px solid white;
}

/* Video */
.background-wrap {
  z-index: -1000;
  width: 100vw;
  height: 80vh;
  position: absolute;
}
#video-bg-elem {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}
.content {
  height: 82vh;
  padding-left: 4rem;
  padding-top: 7rem;
}

.content h1 {
  border-left: 0.6rem solid black;
  padding-left: 0.75rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.block {
  margin-left: 3rem;
}
#msft {
  font-size: 5.5rem;
  font-weight: bold;
  letter-spacing: 0.02em;
}

#std_ch {
  font-size: 3.47rem;
  letter-spacing: -0.01em;
  font-weight: 700;
}

@media only screen and (min-width: 420px) and (max-width: 590px) {
  #msft {
    font-size: 3.5rem;
  }
  #std_ch {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 419px) {
  #msft {
    font-size: 2.7rem;
  }
  #std_ch {
    font-size: 1.7rem;
  }
}
/* About Section */
#about-head {
  font-size: 5.5rem;
  font-family: "Poppins", sans-serif;
  color: #020202;
  -webkit-text-stroke: 2px white;
  text-align: right;
  width: 100%;
  margin-top: -2.5rem;
  opacity: 0.3;
}

#about-head-content {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  color: #fc352b;
}

#about-content {
  text-align: justify;
  color: #fff;
  margin-bottom: 1rem;
}

#know-about1 {
  width: 12.6rem;
  height: 2.5rem;
  border: 2px solid #fc352b;
  text-align: center;
}

#know-about {
  padding: 1rem 1rem 1rem 1.2rem;
  border: 2px solid #fc352b;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 5px 3.5px;
}

#know-about1:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

#about {
  min-height: 80vh;
  background: #020202;
  position: relative;
  margin-top: 7.2rem;
}

#about:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 4.95rem solid #020202;
  border-left: 4.95rem solid #fc352b;
  width: 0;
}
/* Event Section */
#event-head {
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  color: #fc352b;
  -webkit-text-stroke: 2px black;
  opacity: 0.3;
}

.event-head-content {
  font-size: 80px !important;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  /* height: 4rem; */
}
#event-content {
  text-align: justify;
  color: #fff;
}

#event-about1 {
  width: 12.6rem;
  height: 2.5rem;
  border: 2px solid #020202;
  text-align: center;
}

#event-about {
  padding: 1rem 1rem 1rem 1.2rem;
  border: 2px solid #020202;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 5px 3.5px;
  font-family: "Poppins", sans-serif;
}

#event-about1:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

#event-more {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#events {
  min-height: 80vh;
  background: #fc352b;
  position: relative;
  z-index: 10;
}

/* Sponsor Section */
#sponsor {
  min-height: 30vh;
  background: white;
  position: relative;
  text-align: center;
  padding-top: 2rem;
  /* width: 100vw; */
  overflow-x: hidden;
}

#Sponsors {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: bolder;
  color: #020202;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid #020202;
}

#sponsor:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 4.95rem solid #fc352b;
  border-left: 4.95rem solid white;
  width: 0;
}

#sponsor:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 4.95rem solid white;
  border-left: 4.95rem solid #020202;
  width: 0;
}

.abc {
  padding: 10vh 0 10vh 0;
}
/* Contact Section */
#contact {
  min-height: 20vh;
  background: #020202;
  position: relative;
  text-align: center;
  padding-top: 2rem;
}

#ContactUs {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.6rem;
  border-bottom: 1px solid white;
}

.button_contact {
  background-color: #2b2728; /* Green */
  border: none;
  color: white;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  border-radius: 12px;
}

.contact_link {
  width: 3rem;
  margin-bottom: 0.7rem;
}

.contact_link:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
/* Made with Love */
#love {
  height: 2.5rem;
  background-color: #2b2728;
}

#text_love {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 1.5rem;
}

#text-red {
  color: #c02739;
}

.pic_contact img {
  height: 40px;
  width: 22px;
  cursor: pointer;
}

/* All Section plane border below 1023px */
@media only screen and (max-width: 1023px) {
  #about:before,
  #event:before,
  #event:after,
  #contact:before,
  #sponsor:before,
  #sponsor:after {
    border: 0;
  }
}

.div-sec {
  padding-top: 10vh;
}
@media only screen and (max-width: 768px) {
  .div-sec {
    padding-top: 0;
  }
  #event-head,
  #about-head {
    float: right;
  }
  #responsive-space {
    height: 4rem;
  }
  #Sponsors {
    font-size: 1.8rem;
  }
  #ContactUs {
    font-size: 1.5rem;
  }
  #love {
    height: 1.5rem;
    background-color: #2b2728;
  }
  #text_love {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 842px) and (max-width: 1228px) {
  #about-head {
    font-size: 4rem;
  }
  #event-head {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 100px) and (max-width: 841px) {
  #about-head {
    font-size: 3.6rem;
  }
  #event-head {
    font-size: 3.6rem;
  }
}

/* Favicon Icon */
i {
  margin-right: 10px;
}

/* Additional Media query for responsiveness */
@media only screen and (min-width: 605px) and (max-width: 700px) {
  .content {
    padding-left: 2rem;
  }
  #msft {
    font-size: 5rem;
  }
  #std_ch {
    font-size: 3.16rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 605px) {
  .content {
    padding-left: 1.8rem;
  }
  #msft {
    font-size: 4.3rem;
  }
  #std_ch {
    font-size: 2.7rem;
  }
  .content h1 {
    padding-left: 0.1rem;
  }
}

@media only screen and (min-width: 420px) and (max-width: 499px) {
  .content {
    padding-left: 1.5rem;
  }
  #std_ch {
    font-size: 2.2rem;
  }
  .content h1 {
    padding-left: 0;
  }
}

@media only screen and (min-width: 347px) and (max-width: 419px) {
  .content {
    padding-left: 0.6rem;
  }
  #msft {
    font-size: 3rem;
  }
  #std_ch {
    font-size: 1.9rem;
  }
  .content h1 {
    padding-left: 0;
  }
}

@media only screen and (min-width: 331px) and (max-width: 346px) {
  .content {
    padding-left: 0.5rem;
  }
  #msft {
    font-size: 2.6rem;
  }
  #std_ch {
    font-size: 1.64rem;
  }
  .content h1 {
    padding-left: 0;
  }
}

/* SCROLL BAR */
.content-section {
  border: 1px solid rgb(47, 48, 53, 0.8);
  overflow: auto;
}
/* SETTING SCROLL BAR */
::-webkit-scrollbar {
  width: 1rem;
  background-color: black;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 1);
}

/* Opera */
/* ::-moz-scrollbar {
  width: 1rem;
  background-color: black;
} */
/* Track */
/* ::-moz-scrollbar-track {
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  border-radius: 5px;

} */

/* Handle */
/* ::-moz-scrollbar-thumb {
  -moz-border-radius: 5rem;
  border-radius: 5rem;
  background: white;
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
} */
/* ::-moz-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 1);
} */