/* NAVBAR SECTION */

@import url("https://fonts.googleapis.com/css?family=Roboto");
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}
#nav-text {
  font-size: 1.2rem;
  margin-left: 1rem !important;
  font-weight: 100 !important;
}
#ML {
  font-weight: bold;
}
#SC {
  font-weight: lighter;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
* {
  margin: 0;
  padding: 0;
}
/* Navbar */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.top-navbar {
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.top-navbar a {
  color: #ffffff;
  margin: 0.3rem 0.8rem;
}

.top-navbar a span {
  position: relative;
  padding-bottom: 0.33rem;
  font-size: 1rem;
  display: contents;
}

.top-navbar a span::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #ffffff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s;
}

.top-navbar a:hover > span::before {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.top-navbar .non_active:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}

.top-navbar button {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  padding: 0px 12px;
  color: #ffffff;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.top-navbar button:focus {
  outline: none;
}

@media screen and (max-width: 750px) {
  .top-navbar button {
    display: inline-block;
  }
}

.top-navbar .nav-items {
  display: flex;
  align-items: center;
}

.top-navbar .nav-items a {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .top-navbar .nav-items {
    display: none;
  }

  .top-navbar .nav-items a {
    font-size: 1.2rem;
  }
}

.top-navbar .open-menu {
  z-index: 10;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  right: 0px;
  top: 3.1rem;
  background-color: #020202;
  box-sizing: border-box;
}

.top-navbar .open-menu a {
  margin: 0px;
  padding: 14px 0px;
  width: 100%;
  text-align: center;
  border-bottom: #ffffff40 solid 1px;
}

.top-navbar .open-menu a:hover {
  background-color: #ffffff10;
}

#is_active {
  padding-bottom: 0.17rem;
  font-size: 1.1rem;
  border-bottom: 2px solid white;
}
/* ........................................................ */
.page-title {
  font-size: 5rem;
  text-align: center;
  font-family: "Zen Tokyo Zoo";
  color: rgb(60, 26, 207);
}

* {
  box-sizing: border-box;
}

.col-lg-6 {
  display: block;
  text-align: center;
  padding: 10%;
}

.carder {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  border: 0.3rem solid black;
}

.carder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.carder:after {
  content: "";
  display: block;
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.carder.card1:before {
  background-position: center;
}
.carder.card2:before {
  background-position: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #eeeeee;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .carder:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .carder:hover,
  .carder:focus-within {
    align-items: center;
  }
  .carder:hover:before,
  .carder:focus-within:before {
    transform: translateY(-4%);
  }
  .carder:hover:after,
  .carder:focus-within:after {
    transform: translateY(-50%);
  }
  .carder:hover .content,
  .carder:focus-within .content {
    transform: translateY(0);
  }
  .carder:hover .content > *:not(.title),
  .carder:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .carder:focus-within:before,
  .carder:focus-within:after,
  .carder:focus-within .content,
  .carder:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
  .page-title:hover {
    font-size: 7rem;
  }
}
@media (max-width: 1024px) {
  .page-title {
    font-size: 3rem;
    display: block;
  }
  .page-title:hover {
    font-size: 4rem;
  }
  .col-lg-6 {
    margin: auto;
  }
}
@media (max-width: 480px) {
  .col-lg-6 {
    padding: 5%;
    margin: auto;
  }
}
