@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
/* #logo {
  height: 2.8rem;
} */
#nav-text {
  font-size: 1.2rem;
  margin-left: 1rem !important;
  font-weight: 100 !important;
}
#ML {
  font-weight: bold ;
}
#SC {
  font-weight: lighter;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
* {
  margin: 0;
  padding: 0;
}
/* Navbar */
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.top-navbar {
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.top-navbar a {
  color: #ffffff;
  margin: 0.3rem 0.8rem;
}

.top-navbar a span {
  position: relative;
  padding-bottom: 0.33rem;
  font-size: 1rem;
}

.top-navbar a span::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #ffffff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s;
}

.top-navbar a:hover>span::before {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  
}

.top-navbar .non_active:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}

.top-navbar button {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  padding: 0px 12px;
  color: #ffffff;
  border: none;
  -webkit-tap-highlight-color: transparent;
}


.top-navbar button:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .top-navbar button {
      display: inline-block;
  }
}

.top-navbar .nav-items {
  display: flex;
  align-items: center;
}

.top-navbar .nav-items a {
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  .top-navbar .nav-items {
      display: none;
  }

  .top-navbar .nav-items a {
      font-size: 1.2rem;
  }
}

.top-navbar .open-menu {
  z-index: 10;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  right: 0px;
  top: 3.1rem;
  background-color: #020202;
  box-sizing: border-box;
}

.top-navbar .open-menu a {
  margin: 0px;
  padding: 14px 0px;
  width: 100%;
  text-align: center;
  border-bottom: #ffffff40 solid 1px;
}

.top-navbar .open-menu a:hover {
  background-color: #ffffff10;
}

#is_active {
  margin-top: 0.5rem;
  padding-bottom: 0.17rem;
  font-size: 1.1rem;
  border-bottom: 2px solid white;
}

/* Events Section */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
#events {
  position: relative;
  min-height: 90vh;
  /* background: #020202; */
  /* background-image: url('./assets/pics/Events/events_bg.png'); */
}

#heading {
  font-size: 12rem;
  color: #a5cc17;
  opacity: 0.85;
  margin-top: 31rem;
  margin-left: 3rem;
  letter-spacing: 1.2rem;
  font-family: "Anton", sans-serif;
  mix-blend-mode: screen;
  /* font-weight: ; */
}

#pics {
  min-height: 50vh;
  background-color: #a5cc17;
  position: relative;
}

#pics_mobile {
  min-height: 50vh;
  background-color: #a5cc17;
  position: relative;
}

#events:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 4.95rem solid transparent;
  border-right: 4.95rem solid #a5cc17;
  width: 0;
}
#event_name {
  min-height: 80vh;
  background-color: white;
  position: relative;
}
#event_name::before {
  content: "";
  position: absolute;
  border-top: 4.95rem solid #a5cc17;
  border-right: 4.95rem solid white;
  width: 0;
}
#event_name:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 4.95rem solid white;
  border-right: 4.95rem solid #020202;
  width: 0;
}

#event_head {
  color: black;
  margin-top: 4rem;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-left: 6px solid black;
  position: absolute;
  margin-left: -3px;
  padding-left: 25px;
  top: 0;
}

#content {
  margin-top: 13rem;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: justify;
}

/* cards section */

h1 {
  margin: 150px auto 30px auto;
  text-align: center;
  color: #fff;
}

.hi-slide {
  position: relative;
  width: 1100px;
  height: 500px;
  margin: 0px auto 0;
  padding: 13rem 0 0 12rem;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;

  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  font-size: 20px;
  font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
  opacity: 1;
  background-color: #fff;
}

.hi-slide .hi-prev {
  left: -60px;
}

.hi-slide .hi-prev::before {
  content: "<";
}
.hi-slide .hi-next {
  right: -60px;
}
.hi-slide .hi-next::before {
  content: ">";
}

.hi-slide > ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.hi-slide > ul > li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 146px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  background-color: #333;
  cursor: pointer;
  border-radius: 19px 19px 0 0;
  -webkit-box-shadow: -3px 5px 5px 0 black;
  box-shadow: -3px 5px 5px 0 black;
}

.hi-slide > ul > li > img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.hi-slide > ul > li:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.event_pic {
  /* height: 400px; */
  width: 90%;
  border-radius: 19px;
  margin-top: 6rem;
  margin-left: -3rem;
}

.event_sub_head {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  /* color: red; */
  font-style: italic;
  margin-bottom: 0.5rem;
}

/* Contact Section */
#contact {
  min-height: 20vh;
  background: #020202;
  position: relative;
  text-align: center;
  padding-top: 2rem;
}

#ContactUs {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.6rem;
  border-bottom: 1px solid white;
}

.button_contact {
  background-color: #2b2728; /* Green */
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  border-radius: 12px;
}

.contact_link {
  width: 3rem;
  margin-bottom: 0.7rem;
}
/* Made with Love */
#love {
  height: 2.5rem;
  background-color: #2b2728;
}

#text_love {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 1.5rem;
}

#text-red {
  color: #c02739;
}

.contact_link:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.pic_contact img {
  height: 40px;
  width: 22px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  #event_name:after,
  #events:before,
  #event_name::before {
    border: 0;
  }
}

@media only screen and (max-width: 767px) {
  #text_love {
    font-size: 1.5rem;
  }
  #ContactUs {
    font-size: 1.5rem;
  }
  #love {
    height: 1.5rem;
    background-color: #2b2728;
  }
  #text_love {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 280px) {
  #event_laptop {
    display: none;
  }
  #event_mobile {
    display: block !important;
  }
  #event_head {
    font-size: 2rem;
  }
  .event_pic {
    display: none;
  }
  #pics_mobile {
    min-height: 40vh !important;
    padding: 1rem 0 1rem 0;
  }
  #heading {
    margin-left: 0rem;
    font-size: 3.5rem;
    margin-top: 34rem;
  }
  #event_name {
    margin-bottom: 2rem;
  }
  #content {
    padding-top: 2rem;
  }
  #events {
    height: 100vh;
  }
  /* #ContactUs{
		font-size: 2rem;
	} */
}

@media only screen and (min-width: 301px) and (max-width: 320px) {
  #event_laptop {
    display: none;
  }
  #event_mobile {
    display: block !important;
  }
  #event_head {
    font-size: 2.5rem;
  }
  .event_pic {
    display: none;
  }
  #pics_mobile {
    min-height: 40vh !important;
    padding: 1rem 0 1rem 0;
  }
  #heading {
    margin-left: 0rem;
    font-size: 4.5rem;
    margin-top: 25rem;
  }
  #event_name {
    margin-bottom: 2rem;
  }
  #content {
    padding-top: 2rem;
  }
  #events {
    height: 100vh;
  }
}

@media only screen and (min-width: 321px) and (max-width: 400px) {
  #event_laptop {
    display: none;
  }
  #event_mobile {
    display: block !important;
  }
  #event_head {
    font-size: 1.8rem;
  }
  .event_pic {
    display: none;
  }
  #pics_mobile {
    min-height: 40vh !important;
    padding: 1rem 0 1rem 0;
  }
  #heading {
    margin-left: 0rem;
    font-size: 5rem;
    margin-top: 32rem;
  }
  #event_name {
    margin-bottom: 2rem;
  }
  #content {
    margin-top: 8rem;
    padding-top: 1rem;
  }
  #events {
    height: 100vh;
  }
}

@media only screen and (min-width: 401px) and (max-width: 449px) {
  #event_laptop {
    display: none;
  }
  #event_mobile {
    display: block !important;
  }
  #event_head {
    font-size: 2rem;
  }
  .event_pic {
    display: none;
  }
  #pics_mobile {
    min-height: 40vh !important;
    padding: 2.5rem 0;
  }
  #heading {
    margin-left: 0rem;
    font-size: 6rem;
    margin-top: 28rem;
  }
  #event_name {
    margin-bottom: 2rem;
  }
  #content {
    padding-top: 2rem;
    margin-top: 8rem;
  }
  #events {
    height: 100vh;
  }
}

@media only screen and (min-width: 450px) and (max-width: 766px) {
  #event_laptop {
    display: none;
  }
  #event_mobile {
    display: block !important;
  }
  #event_head {
    font-size: 3rem;
  }
  .event_pic {
    display: none;
  }
  #pics_mobile {
    min-height: 40vh !important;
    padding: 3rem 0;
  }
  #heading {
    margin-left: 2rem;
    font-size: 6.7rem;
    margin-top: 25rem;
    /* padding-top: 15rem; */
  }
  #event_name {
    margin-bottom: 2rem;
  }
  #content {
    padding-top: 2rem;
    margin-top: 11rem;
  }
  #events {
    height: 100vh;
  }
}

@media only screen and (min-width: 767px) and (max-width: 768px) {
  #event_head {
    font-size: 3rem;
  }
  .event_pic {
    margin-top: 7rem;
    margin-left: 0rem;
    width: 100%;
  }
  .hi-slide {
    width: 600px;
    padding-left: 1.7rem;
  }
  #heading {
    margin-left: 0rem;
    font-size: 12rem;
    margin-top: 40rem;
  }
  #event_laptop {
    display: none;
  }
  #event_mobile {
    display: block !important;
  }
  #pics_mobile {
    min-height: 40vh !important;
    padding: 3rem 0 3rem 0;
  }

  #pics_mobile img {
    height: 80vh;
    width: 50%;
  }
  .event_pic {
    margin-top: 9rem;
    margin-left: -2rem;
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 899px) {
  #event_laptop {
    display: none;
  }
  #event_mobile {
    display: block !important;
  }
  #pics_mobile img {
    height: 90vh;
    padding: 10vh 0;
  }
  #event_head {
    font-size: 3rem;
  }
  .event_pic {
    margin-top: 7rem;
    margin-left: 0rem;
    width: 100%;
  }
  #heading {
    font-size: 11rem;
    margin-left: 1rem;
    font-size: 13rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1024px) {
  #event_head {
    font-size: 3rem;
  }
  .event_pic {
    margin-top: 7rem;
    margin-left: 0rem;
    width: 100%;
  }
  .hi-slide {
    width: 780px;
    padding-left: 1.8rem;
  }
  #heading {
    margin-left: 1rem;
    font-size: 11rem;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  #event_name {
    min-height: 60vh !important;
  }

  #pics {
    min-height: 35vh;
  }

  #events {
    min-height: 80vh;
  }
  .event_pic {
    margin-top: 9rem;
    margin-left: -2rem;
    width: 100%;
  }
  #heading {
    margin-left: 1rem;
    margin-top: 40rem;
  }
  #contact {
    min-height: 30vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  #event_head {
    font-size: 3rem;
  }
  #event_name {
    padding-bottom: 3rem;
  }
  .hi-slide {
    width: 790px;
    padding-left: 1.7rem;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1360px) {
  #event_head {
    font-size: 4rem;
  }
  #event_name {
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
  #event_head {
    font-size: 4.5rem;
  }
  #event_name {
    padding-bottom: 5rem;
  }
}

@media only screen and (min-width: 1441px) {
  #event_name {
    padding-bottom: 6rem;
  }
}

/* SCROLL BAR */
.content-section {
  border: 1px solid rgb(47, 48, 53, 0.8);
  overflow: auto;
}
/* SETTING SCROLL BAR */
::-webkit-scrollbar {
  width: 1rem;
  background-color: black;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 1);
}