<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Projects</title>
</head>
<body>
    {% for project in projects %}
        <div class="project">
            <h2>{{ project.name }}</h2>
            <p>{{ project.description }}</p>
            <a href="{{ project.url }}">{{ project.url }}</a>
            <img src="{{ project.image }}" alt="{{ project.name }}">
        </div>
    {% endfor %}
</body>
</html>